<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	
    <title>Movie App</title>
  </head>
  <body>
	  <nav class="navbar navbar-default">
			<div class="container">
				  <div class="navbar-header">
					<a class="navbar-brand" href="/">MovieInfo</a> 
					<a class="navbar-brand" href="/contact">About Us</a>
					<a class="navbar-brand" href="/tandc">T&C</a>
					<a class="navbar-brand" href="/suggestion">Suggestion</a>
 
				  </div>
			</div>
	  </nav>