<%- include("../views/partials/header.ejs") %>
<div class="container">
	<h1 class="text-center">About Us</h1>
	<div class="jumbotron text-center">
		<p class="lead">In this webSite you can serch for any movie which you like and you will get information about that movie.
			The information include the cast name, release date,director name,Imdb raiting,Writer name,plot and many more things.
			Even after this if you are not satisfied by the info we provide than we have a way by which you can be redirected t0 IMDB site where you can access all the other information of movie  
		</p>
		<hr class="my-4">
		<p>In this website we are fettiching information about the movie from a API which is provided by a site called OMBD  </p>
	</div>
	<br>
	<br>
	<h1 class="text-center mb-3">Our Team</h1>


	<div class="container">
		<div class="row text-center">
		  <div class="col-sm">
			<h4 class="mt-3">
				Jatin Singh Rathore<br>
				Bishal Kumar Singh<br>
				Priyanshi Khandelwal
			</h4>
			
		  </div>
		  <div class="col-sm">
			  <h4 class="mt-3">
				Email:jatinrathore789@gmail.com<br>
				Email:bishalksingh05@gmail.com<br>
				Email:1510priyanshi@gmail.com
			  </h4>
		  </div>
		</div>
	  </div>
</div>