<%- include("../views/partials/header.ejs") %>
<div class="container">
    <h1>Our Team</h1>
    <h4>
        Our developer are a group of students how are currently pursuing their B.Tech from Sgsits.tThey are in their 3rd year.
        They are MERN stack developers they also possess great problem solving skills. They are team players love to complete task in the given timeframe.

    </h4>
    <br>
    <br>
    <h5 class="text-center mb-3">
        For any collaboration for a project or for any qurey. 
    </h5>
    <span class="btn1-container">
        <button class="btn btn-primary"><a href="https://forms.gle/zaiN2R1ekMQuyJEF9">Click Here</a></button>
    </span>
    
</div>